[flake8]
ignore = N802, N803, N806, E731, W503, N815, E402, E203, F841, F811, C901, F401
max-complexity = 7
max-line-length = 120
docstring-convention=pep257
exclude = .git,__pycache__,build,docs/source/conf.py,example,*.ipynb,.venv
