anndata==0.10.9
array_api_compat==1.8
attrs==24.2.0
build==1.2.2
CacheControl==0.14.0
cattrs==24.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
distlib==0.3.8
docutils==0.21.2
dulwich==0.21.7
exceptiongroup==1.2.2
fastjsonschema==2.20.0
filelock==3.16.0
flit==3.9.0
flit_core==3.9.0
flox==0.9.10
future==1.0.0
h5py==3.11.0
idna==3.8
importlib_metadata==8.4.0
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.5.0
msgpack==1.1.0
natsort==8.4.0
numpy==2.0.2
numpy-groupies==0.11.2
packaging==24.1
pandas==2.2.2
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.3.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pybiomart==0.2.0
pycparser==2.22
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
rapidfuzz==3.9.7
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
scipy==1.13.1
shellingham==1.5.4
six==1.16.0
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.13.2
toolz==0.12.1
tqdm==4.66.5
trove-classifiers==2024.7.2
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
virtualenv==20.26.4
xarray==2024.7.0
xattr==1.1.0
zipp==3.20.1
